@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 200;
  src: local("Oxygen"),
    url("../../public/fonts/Oxygen/Oxygen-Bold.ttf") format("truetype"),
    url("../../public/fonts/Oxygen/Oxygen-Light.ttf") format("truetype"),
    url("../../public/fonts/Oxygen/Oxygen-Regular.ttf") format("truetype");
}

body {
  font-family: "Oxygen";
}
