.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.bottom-0 {
  bottom: 0px
}

.top-4 {
  top: 1rem
}

.right-4 {
  right: 1rem
}

.top-16 {
  top: 4rem
}

.left-0 {
  left: 0px
}

.z-50 {
  z-index: 50
}

.z-10 {
  z-index: 10
}

.z-40 {
  z-index: 40
}

.m-3 {
  margin: 0.75rem
}

.m-2 {
  margin: 0.5rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.ml-auto {
  margin-left: auto
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mr-1 {
  margin-right: 0.25rem
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.flex {
  display: flex
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.h-screen {
  height: 100vh
}

.h-16 {
  height: 4rem
}

.h-6 {
  height: 1.5rem
}

.h-40 {
  height: 10rem
}

.h-10 {
  height: 2.5rem
}

.h-60 {
  height: 15rem
}

.min-h-screen {
  min-height: 100vh
}

.w-screen {
  width: 100vw
}

.w-16 {
  width: 4rem
}

.w-6 {
  width: 1.5rem
}

.w-full {
  width: 100%
}

.w-10 {
  width: 2.5rem
}

.w-auto {
  width: auto
}

.w-40 {
  width: 10rem
}

.max-w-lg {
  max-width: 32rem
}

.max-w-3xl {
  max-width: 48rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-auto {
  flex: 1 1 auto
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.overflow-hidden {
  overflow: hidden
}

.overflow-scroll {
  overflow: scroll
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.rounded-full {
  border-radius: 9999px
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded {
  border-radius: 0.25rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-0 {
  border-width: 0px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-b {
  border-bottom-width: 1px
}

.border-t {
  border-top-width: 1px
}

.border-solid {
  border-style: solid
}

.border-dashed {
  border-style: dashed
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.border-gray-900 {
  --tw-border-opacity: 1;
  border-color: rgb(17 24 39 / var(--tw-border-opacity))
}

.border-transparent {
  border-color: transparent
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.border-red-400 {
  --tw-border-opacity: 1;
  border-color: rgb(248 113 113 / var(--tw-border-opacity))
}

.border-red-600 {
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity))
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-b-gray-300 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

.bg-transparent {
  background-color: transparent
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.p-6 {
  padding: 1.5rem
}

.p-4 {
  padding: 1rem
}

.p-2 {
  padding: 0.5rem
}

.p-5 {
  padding: 1.25rem
}

.p-1 {
  padding: 0.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.pt-0 {
  padding-top: 0px
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-6 {
  padding-bottom: 1.5rem
}

.pl-3 {
  padding-left: 0.75rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-medium {
  font-weight: 500
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.italic {
  font-style: italic
}

.leading-6 {
  line-height: 1.5rem
}

.leading-none {
  line-height: 1
}

.leading-relaxed {
  line-height: 1.625
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity))
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.opacity-0 {
  opacity: 0
}

.opacity-100 {
  opacity: 1
}

.opacity-5 {
  opacity: 0.05
}

.opacity-50 {
  opacity: 0.5
}

.hover\:bg-gray-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity))
}

.hover\:bg-red-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity))
}

.hover\:bg-blue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.hover\:bg-gray-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

.hover\:text-indigo-500:hover {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity))
}

.hover\:text-blue-800:hover {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {
  .dark\:border-gray-900 {
    --tw-border-opacity: 1;
    border-color: rgb(17 24 39 / var(--tw-border-opacity))
  }

  .dark\:border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity))
  }
}

@media (min-width: 1024px) {
  .lg\:mx-20 {
    margin-left: 5rem;
    margin-right: 5rem
  }

  .lg\:w-10\/12 {
    width: 83.333333%
  }

  .lg\:p-20 {
    padding: 5rem
  }

  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem
  }
}
